
html, body {
     height: 100%;
 }
 body {
     font-family: 'Source Sans Pro', sans-serif;
     color: #666;
 }
 /* button */
 .button {
     cursor: pointer;
     text-decoration: none;
     font-size: 0.6em;
     font-weight: 400;
     text-transform: uppercase;
     display: inline-block;
     padding: 4px 6px;
     margin: 0 10px;
     position: relative;
     background: #ccc;
     color: #fff;
     box-shadow: 0 0 2px rgba(0,0,0,0.1);
     background: rgb(190,190,190); /* Old browsers */
     background: -moz-linear-gradient(top, rgba(190,190,190,1) 0%, rgba(170,170,170,1) 100%); /* FF3.6+ */
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(190,190,190,1)), color-stop(100%,rgba(170,170,170,1))); /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(top, rgba(190,190,190,1) 0%,rgba(170,170,170,1) 100%); /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(top, rgba(190,190,190,1) 0%,rgba(170,170,170,1) 100%); /* Opera 11.10+ */
     background: -ms-linear-gradient(top, rgba(190,190,190,1) 0%,rgba(170,170,170,1) 100%); /* IE10+ */
     background: linear-gradient(to bottom, rgba(190,190,190,1) 0%,rgba(170,170,170,1) 100%); /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bebebe', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-9 */
 }
 .button:hover {
     background: #637b85;
 }
 /* Header styles */
 header {
     text-align: center;
     background: #637b85;
     color: #ff0;   /*color amarillo fff sería blanco */ 
     margin-bottom: 40px;
 }

 header .button {
     font-size: 0.2em;
     top: -6px;
 }
  
 /* various containers */
 .container {
     width: 200px;
     margin: 0 auto;
 }
 .canvas-container {
     min-height: 300px;
     max-height: 600px;
     /*position: absolute;*/
     background-position: relative;
 }

 .canvas-container-2 {
     min-height: 300px;
     max-height: 600px;
       min-width: 600px;
     position: relative;
     background-position: relative;
 }

 .widget {
     position: relative;
     margin-bottom: 80px;
     background: #efefef;
     padding: 12px;
     margin-bottom: 30px;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }


 .widget.doughnut .status {  /* centro del grafico de dona */
     position: absolute;
     top: 50%;
     left: 50%;
     width: 30%;
     height: 0;
     padding-top: 12%;
     padding-bottom: 18%;
     color: #444;
     margin-top: -15%;
     margin-left: -15%;
     font-size: 1.4em;
     font-weight: 700;
     text-align: center;
     border-radius: 50%;
     /*background-color: #CCCC99;*/ /* ponerle color al centro*/
      /*background-image: url();
     */
     background-repeat: no-repeat;
     background-size: 30%;
     background-position: center;
 }
.widget p {
     margin-top: 0;
     text-align: center;
 }
 .widget h3 {
     margin: -12px 0 12px -12px;
     padding: 12px;
     width: 100%;
     text-align: center;
     color: #627b86;
     line-height: 2em;
     background: #d0dde3;
 }
 .chart-legend ul {
     list-style: none;
     width: 100%;
     margin: 30px auto 0;
 }
 .chart-legend li {
     text-indent: 16px;
     line-height: 24px;
     position: relative;
     font-weight: 200;
     display: block;
     float: left;
     width: 50%;
     font-size: 0.8em;
 }
 .chart-legend  li:before {
     display: block;
     width: 10px;
     height: 16px;
     position: absolute;
     left: 0;
     top: 3px;
     content: "";
 }
 /*Los colores de los valores que van en la leyenda del gráfico de dona */
 .c0:before { background-color: #000099; }
 .c1:before { background-color: #006600; }
 .c2:before { background-color: #ffcc00; }
 .c3:before { background-color: #ff6600; }
 .c4:before { background-color: #cc0000; }

.widget.line p span {
    color: #dbba34;
}
.widget.line p strong {
    color: #637b85;
    font-weight: 400;
}

/*Personalizando las leyendas de los gráfiso del área 3, los de radar*/
 .chart-legend-2 li {
     text-indent: 16px;
     line-height: 24px;
     position: relative;
     font-weight: 200;
     display: block;
     float: left;
     width: 50%;
     font-size: 0.8em;
 }
.chart-legend-2  li:before {
     display: block;
     width: 10px;
     height: 16px;
     position: absolute;
     left: 0;
     top: 3px;
     content: "";
 }
 .sex0a1:before { background-color: #FF0066; }
 .sex1a1:before { background-color: #3333CC; }


 .chart-legend-12 li {
     text-indent: 16px;
     line-height: 24px;
     position: relative;
     font-weight: 200;
     display: block;
     float: left;
     width: 50%;
     font-size: 0.8em;
 }
.chart-legend-12  li:before {
     display: block;
     width: 10px;
     height: 16px;
     position: absolute;
     left: 0;
     top: 3px;
     content: "";
 }
 .sex0a2:before { background-color: #FF0099; }
 .sex1a2:before { background-color: #0066CC; }
 

 .chart-legend-22 li {
     text-indent: 16px;
     line-height: 24px;
     position: relative;
     font-weight: 200;
     display: block;
     float: left;
     width: 50%;
     font-size: 0.8em;
 }
.chart-legend-22  li:before {
     display: block;
     width: 10px;
     height: 16px;
     position: absolute;
     left: 0;
     top: 3px;
     content: "";
 }
 .sex0a3:before { background-color: #FF00CC; }
 .sex1a3:before { background-color: #0099FF; }
 


 .chart-legend-32 li {
     text-indent: 16px;
     line-height: 24px;
     position: relative;
     font-weight: 200;
     display: block;
     float: left;
     width: 50%;
     font-size: 0.8em;
 }
.chart-legend-32  li:before {
     display: block;
     width: 10px;
     height: 16px;
     position: absolute;
     left: 0;
     top: 3px;
     content: "";
 }
 .sex0a4:before { background-color: #FF00FF; }
 .sex1a4:before { background-color: #66CCCC; }

 /*Hata aquí la personalización de la leyenda del área 3 - Radar*/


@media only screen and (min-width:300px){
     .container {
         width: 300px;
         margin: 0 auto;
     }
 }
  
 @media only screen and (min-width:600px){
     .container {
         width: 580px;
         margin: 0 auto;
     }
     .third {
         float: left;
         width: 47.5%;
         margin-left: 5%;
     }
     .third:first-child {
         margin-left: 0;
     }
     .third:last-child {
         display: block;
         width: 100%;
         margin-left: 0;
     }
 }
  
 @media only screen and (min-width:960px){
     .container {
         width: 940px;
     }
     .third {
         float: left;
         width: 30%;
         margin-left: 2.5%;
         margin-right: 2.5%;
     }
     .third:first-child {
         margin-left: 0;
     }
     .third:last-child {
         margin-right: 0;
         margin-left: 2.5%;
         width: 30%;
     }
 }




@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  
}


